<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Title</title>
    <script type="text/javascript" src="../../libs/jquery.js"></script>
    <script type="text/javascript" src="../../libs/sea.js" id="seajsnode"></script>
    <script type="text/javascript" src="../../libs/seajs-text.js"></script>
    <script type="text/javascript" src="../../libs/seajs-css.js"></script>
    <script type="text/javascript" src="../../libs/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../libs/css/bootstrap.min.css">
    <script type="text/javascript" src="../../libs/bootstrap-paginator.js"></script>
    <script type="text/javascript" src="../../libs/handsontable.full.js"></script>
    <link rel="stylesheet" href="../../libs/css/handsontable.full.css">
    <link rel="stylesheet" href="../../css/reset.css" />
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/schedule.css">

</head>
<body>
<!--导航栏-->
<div id="nav-tpl"></div>
<div class="font-content">
    <table>
        <tr class="form-inline">
            <td>
                <form id="area-select" class="singleBox">
                    <select class="select1" name="区域">
                        <option id="area-all" class="area-districts" value="全部">全部</option>
<!--                        <option id="area-1" class="area-districts" value="临潼区">临潼区</option>-->
                        <option id="area-2" class="area-districts" value="未央区">未央区</option>
                        <option id="area-3" class="area-districts" value="莲湖区">莲湖区</option>
                        <option id="area-4" class="area-districts" value="新城区">新城区</option>
                        <option id="area-5" class="area-districts" value="碑林区">碑林区</option>
                        <option id="area-6" class="area-districts" value="灞桥区">灞桥区</option>
                        <option id="area-7" class="area-districts" value="长安区">长安区</option>
                        <option id="area-8" class="area-districts" value="雁塔区">雁塔区</option>
                        <input style="cursor: default" disabled type="button" class="areas-select-title"  value="地区">
                    </select>
                </form>
            </td>
            <td>
                <form id="type-select" class="singleBox">
                    <select class="select2" name="文地类别" >
                        <option class="areas-types" id="type-all" value="全部">全部</option>
                        <option class="areas-types" id="type1" value="一类文地">文化精神标识用地</option>
                        <option class="areas-types" id="type2" value="二类文地">纪念用地</option>
                        <option class="areas-types" id="type3" value="三类文地">宗教用地</option>
                        <option class="areas-types" id="type4" value="四类文地">文化遗产用地</option>
                        <option class="areas-types" id="type5" value="五类文地">文化设施用地</option>
                        <option class="areas-types" id="type6" value="六类文地">文化产业用地</option>
                        <input style="cursor: default" disabled type="button" class="areas-select-title"  value="类别">
                    </select>
                </form>
            </td>
            <td>
                <form class="singleBox" >
                    <input type="text" id="poiText" placeholder="按文地名称模糊查询" >
                    <input type="button" id="poiSelect" value="搜索">
                </form>
            </td>
            <td>
                <input type="button" id="export-file" value="导出Excel表格">
            </td>
        </tr>
    </table>
</div>
<div class="container font-content">
    <div class="row" >
        <div class="col-ml-9 col-md-9">
            <div id="table"></div>
<!--            //分页-->
            <div>
                <span>
                    <ul class="pagination" id="pageUl">
                    </ul>
                </span>
            </div>
        </div>
        <div class="col-ml-3 col-md-3" id="rightPicture">
            <div class="xpanel-wrapper xpanel-wrapper-1">
                <div class="xpanel">
                        <img src="#" id="imgID">
                </div>
            </div>
            <div class="xpanel-wrapper xpanel-wrapper-2">
                <div class="xpanel" >
                    <div class="pic" id="gaodemap"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=4c4050aecc55468f218b12408fecc9cb"></script>
<script type="text/javascript">
    seajs.use('../../js/schedule.js')
</script>
</html>