<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../css/reset.css" />

    <script type="text/javascript" src="../../libs/jquery.js"></script>
    <script type="text/javascript" src="../../libs/sea.js" id="seajsnode"></script>
    <script type="text/javascript" src="../../libs/seajs-text.js"></script>
    <script type="text/javascript" src="../../libs/seajs-css.js"></script>
    <script type="text/javascript" src="../../libs/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../libs/css/bootstrap.min.css">
    <script type="text/javascript" src="../../libs/bootstrap-paginator.js"></script>
    <script type="text/javascript" src="../../libs/handsontable.min.js"></script>
    <link rel="stylesheet" href="../../libs/css/handsontable.full.min.css">
    <link rel="stylesheet" href="../../css/main.css">
    <style type="text/css">
        .select1{
            height: 25px;width: 80px;display: inline-block;
        }
        #table{
            overflow-y: scroll;
            min-height: 500px;
        }
        #table tr:hover {
            background:#288fe0;
            /*@hover_color;*/
        }
        tr:hover td {
            background: transparent;
        }
        /*表格全部单行显示*/
        .handsontable td{
            /*white-space: nowrap;*/
            font-size: 80%;
        }
        #page li{
            cursor:pointer;
        }
        .handsontable td:nth-child(5),.handsontable td:nth-child(10),.handsontable td:nth-child(11),.handsontable td:nth-child(12) {
            white-space: nowrap;
        }
    </style>
</head>
<body style="overflow-x:hidden">
<div id="nav-tpl"></div>
<div id="menubutton">
    <table>
        <tr style="padding: 5px 10px">
            <td>
                <form style="padding: 5px 10px">
                    <select class="select1" name="cars">
                        <option value="volvo">临潼区</option>
                        <option value="saab">未央区</option>
                        <option value="fiat">莲湖区</option>
                        <option value="audi">新城区</option>
                        <option value="audi">碑林区</option>
                        <option value="audi">灞桥区</option>
                        <option value="audi">长安区</option>
                        <option value="audi">雁塔区</option>
                        <option value="audi">户县</option>
                        <input type="button" value="地区">
                    </select>
                </form>
            </td>
            <td>
                <form style="padding: 5px 10px">
                    <select class="select1" name="cars" >
                        <option value="volvo">文化精神标识用地</option>
                        <option value="saab">纪念用地</option>
                        <option value="fiat">宗教用地</option>
                        <option value="audi">文化遗产用地</option>
                        <option value="audi">文化设施用地</option>
                        <option value="audi">文化产业用地</option>
                        <input type="button" value="类别">
                    </select>
                </form>
            </td>
            <td>
                <form style="padding: 5px 10px;width: 400px;;display: inline-block">
                    <input type="text" placeholder="按文地名称模糊查询" style="display: inline;height: 23px;width: 150px;border-width: 1px;padding: 0
;border-style: solid">
                    <input type="button" value="搜索" style=" height: 25px;width:60px;display: inline-block;margin-left:-4px">
                </form>
            </td>
        </tr>
    </table>

</div>
<div class="container">
    <div class="row" >
        <div class="col-md-8" >
            <div id="table"></div>
<!--            //分页-->
            <div>
                <span style="font-size:14px;">
                    <ul class="pagination" id="pageUl">
                    </ul>
                </span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="xpanel-wrapper xpanel-wrapper-1">
                <div class="xpanel">
                    <div class="pic" id="photo-pic" >
                        <img src="../../views/schedule/png/bingmayong.jpg" style="height: 250px;width:350px">
                    </div>
                </div>
            </div>
            <div class="xpanel-wrapper xpanel-wrapper-2">
                <div class="xpanel">
                    <div class="pic" id="map-pic"></div>
                    <img src="../../views/schedule/png/map-pic.jpg" style="height:250px;width:350px">

                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    seajs.use('../../js/schedule.js')
</script>
</html>