<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="../../libs/jquery.js"></script>
    <script type="text/javascript" src="../../libs/sea.js" id="seajsnode"></script>
    <script type="text/javascript" src="../../libs/seajs-text.js"></script>
    <script type="text/javascript" src="../../libs/seajs-css.js"></script>
    <script type="text/javascript" src="../../libs/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../libs/ol.js"></script>
    <script type="text/javascript">seajs.use('../../js/Hangzhou')</script>
    <link rel="stylesheet" href="../../libs/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/reset.css" />
    <link rel="stylesheet" href="../../libs/css/ol.css" />
    <link rel="stylesheet" href="../../css/main.css" />

    <title>Hangzhou</title>
    <style>
        #button_back{
            top: 18%;
            left: 87%;
            position: fixed;
        }
        #textShow{
            z-index: 999;
            position: fixed;
            left: 82%;
            top: 10%;
            /*background: #0f9d58;*/
        }
        #textShow02{
            background: #b2d7d0;

        }
        textarea{
            resize: none;
        }
    </style>
</head>
<body>
<div id="nav-tpl"></div>
<div id="map1">


</div>

<div id="textShow"><textarea id="textShow02" style="width:250px;height:110px;" readonly> 城市名：杭州&#xd 文地率：6.22&#xd 文地面积：325000000.00</textarea><button type="button" id="button_back" onclick="javascript:history.go(-1)"> 返回 </button></div>
<script>
    function backDomestic(){
        window.location.href='index.html';
    }
</script>
</body>
</html>