<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>大屏展示</title>
    <script type="text/javascript" src="../../libs/sea.js" id="seajsnode"></script>
    <script type="text/javascript" src="../../libs/seajs-text.js"></script>
    <script type="text/javascript" src="../../libs/seajs-css.js"></script>
    <script type="text/javascript" src="../../libs/jquery.js"></script>
    <script type="text/javascript" src="../../libs/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../libs/echarts.js"></script>
    <script type="text/javascript" src="../../js/china.js"></script>
    <link rel="stylesheet" href="../../libs/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/reset.css" />
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/secondhtml.css">
</head>
<body>
<div id="nav-tpl"></div>
<div class="wrapper">
    <div class="container-fluid">
        <div class="row fill-h">
            <div class="col-lg-3 fill-h">
                <div class="xpanel-wrapper xpanel-wrapper-2">
                    <div class="xpanel">
                        <!-- 左上 -->
                        <div class="fill-h" id="pic1"></div>
                    </div>
                </div>
                <div class="xpanel-wrapper xpanel-wrapper-2">
                    <div class="xpanel">
                        <!-- 左下 -->
                        <div class="fill-h" id="pic2"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 fill-h">
                <div class="xpanel-wrapper xpanel-wrapper-1">
                    <div class="xpanel">
                        <!-- 中间 -->
                        <div class="fill-h" id="pic3"></div>
                        <div class="back">返回</div>
                        <div class="HistoricalPlace">历史文地</div>
<!--                        不用的代码-->
                        <div class="input-card" style="display: none">
                            <h4>下属行政区查询</h4>
                            <div class="input-item">
                                <div class="input-item-prepend"><span class="input-item-text">省市区</span></div>
                                <select id='province' style="width:100px"></select>
                            </div>
                            <div class="input-item">
                                <div class="input-item-prepend"><span class="input-item-text">地级市</span></div>
                                <select id='city' style="width:100px"></select>
                            </div>
                            <div class="input-item">
                                <div class="input-item-prepend"><span class="input-item-text">区县</span></div>
                                <select id='district' style="width:100px"></select>
                            </div>
                            <div class="input-item-" style='display: none;'>
                                <div class="input-item-prepend"><span class="input-item-text" >街道</span></div>
                                <select id='street' style="width:100px" onchange='setCenter(this)'></select>
                            </div>
                            <p>请选择文件命名方式</p>
                            <div class="radio">
                                <input type="radio" value="name" name="nameType">地域名称
                                <input type="radio" value="code" checked name="nameType">地域行政编码
                            </div>
                            <div class="input-item download" >下载geoJson数据</div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 fill-h">
                <div class="xpanel-wrapper xpanel-wrapper-3">
                    <div class="xpanel">
                        <!-- 右上 -->
                        <div class="fill-h" id="pic4"></div>
                    </div>
                </div>
                <div class="xpanel-wrapper xpanel-wrapper-3">
                    <div class="xpanel">
                        <!-- 右下 -->
                        <div class="fill-h" id="pic5"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
<!--<script type="text/javascript" src="../../libs/vue.js"></script>-->
<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=4c4050aecc55468f218b12408fecc9cb"></script>
<script src="//webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>
<script type="text/javascript">
    seajs.use('../../js/largescreen2nd.js')
</script>
</html>