/*
    首页
*/

.index_body_warp{
    width: 100%;
    min-width: 1300px;
    height: 100%;
}

/* 首页上部标题 */
.index_body_warp .wl_index_top{
    background-color: #1E90FF;
    width: 100%;
    height: 10rem;
    position: relative;
}
.index_body_warp .wl_index_top .index_title{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: #fff;
}

/* 首页下部按钮和slide */
.index_body_warp .wl_index_bottom{
    width: 100%;
    margin-top: 5%;
    /*height: 70%;*/
}
.index_body_warp .wl_index_bottom .slide_page_btn{
    position: relative;
    min-height: 10rem;
    height: 100%;
    margin: 0 15%;
}
.index_body_warp .wl_index_bottom .slide_page_btn ul{
    width: 100%;
    min-height: 6.25rem;
    height: 20rem;
    list-style: none;
    /*min-width: 1300px;*/
}
.index_body_warp .wl_index_bottom .slide_page_btn ul li{
    float: left;
    text-align: center;
    width: 14%;
    height: 100%;
    margin-right: 2%;
    border: 1px solid #ccc;
}
.index_body_warp .wl_index_bottom .slide_page_btn ul li:last-child{
    margin-right: 0;
}
/*切换按钮icon*/
.index_body_warp .wl_index_bottom .slide_page_btn .slide_btn_icon{
    width: 6rem;
    height: 6rem;
    margin: 2rem auto;
}
.index_body_warp .wl_index_bottom .slide_page_btn .slide_btn_icon1{
    background: url('../static/icons/visiual_icon.png') no-repeat;
    background-size: 100% 100%;
}
.index_body_warp .wl_index_bottom .slide_page_btn .slide_btn_icon2{
    background: url('../static/icons/table_icon.png') no-repeat;
    background-size: 100% 100%;
}
.index_body_warp .wl_index_bottom .slide_page_btn .slide_btn_icon3{
    background: url('../static/icons/analysis_icon.png') no-repeat;
    background-size: 100% 100%;
}
.index_body_warp .wl_index_bottom .slide_page_btn .slide_btn_icon4{
    background: url('../static/icons/screen_icon.png') no-repeat;
    background-size: 100% 100%;
}
.index_body_warp .wl_index_bottom .slide_btn_text{
    font-size: 1.2rem;
    font-weight: bold;
    color: #5e5e5e;
}
.index_body_warp .wl_index_bottom .slide_btn_href{
    display: block;
    margin: 2rem auto;
    width: 10rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    border: 1px solid #1E90FF;
    border-radius: 4px;
}