/*导航模板样式*/
#nav-tpl nav{
    border-radius: 0;
    color: #ffffff;
    background-color: #1E90FF;
    border:none;
    margin-bottom: 0;
    /*height: 5rem;*/
    /*line-height: 5rem;*/
}
nav .navbar-header .navbar-brand{
    font-size: 1.25rem;
    color: #ffffff;
}
nav .navbar-collapse .navbar-nav{
    margin-left: 5%;
    /*width: 100%;*/
}
nav .navbar-collapse .navbar-nav li > a{
    color: #ffffff;
}
nav .navbar-collapse .navbar-nav li:hover{
    background-color: #2e6da4;
}
