<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaancultural1.demo.mapper.VisualCulturalMapper">
    <resultMap id="geo" type="com.xiaancultural1.demo.pojo.geoBase">
        <result column="area_geojson" property="areaGeojson"/>
    </resultMap>

    <!--//查询出文地的Geojson-->
    <select id = "selectAllGeojson" resultMap="geo">
     select DISTINCT tb_area_geojson.area_geojson from public.tb_base_data
left join tb_area_cultural on tb_base_data.base_id=tb_area_cultural.culatural_id
left join tb_area_geojson on tb_area_geojson.area_name=tb_area_cultural.culatural_area
where tb_area_geojson.area_geojson is not null ;
    </select>

    <!--//筛选区域、类别-->
    <select id = "selectFileterGeojson" resultMap="geo">
   select DISTINCT tb_area_geojson.area_geojson from public.tb_base_data
  left join tb_area_cultural on tb_base_data.base_id=tb_area_cultural.culatural_id
  left join tb_area_geojson on tb_area_geojson.area_name=tb_area_cultural.culatural_area
  where tb_area_geojson.area_geojson is not null and tb_base_data.base_district in (${baseDistrict}) and
  tb_base_data.base_classification in (${baseClassification});
    </select>
    <!--//筛选区域-->
    <select id = "selectRegionGeojson" resultMap="geo">
      select DISTINCT tb_area_geojson.area_geojson from public.tb_base_data
left join tb_area_cultural on tb_base_data.base_id=tb_area_cultural.culatural_id
left join tb_area_geojson on tb_area_geojson.area_name=tb_area_cultural.culatural_area
where tb_area_geojson.area_geojson is not null and tb_base_data.base_district in (${baseDistrict});
    </select>
    <!--//筛选类别-->
    <select id = "selectTypeGeojson" resultMap="geo">
select DISTINCT tb_area_geojson.area_geojson from public.tb_base_data
left join tb_area_cultural on tb_base_data.base_id=tb_area_cultural.culatural_id
left join tb_area_geojson on tb_area_geojson.area_name=tb_area_cultural.culatural_area
where tb_area_geojson.area_geojson is not null and tb_base_data.base_classification in (${baseClassification});
    </select>
    <!--// 按名称模糊查询-->
    <select id="selectGeoBySearchText" resultMap="geo">
        select DISTINCT tb_area_geojson.area_geojson from public.tb_base_data
left join tb_area_cultural on tb_base_data.base_id=tb_area_cultural.culatural_id
left join tb_area_geojson on tb_area_geojson.area_name=tb_area_cultural.culatural_area
where tb_area_geojson.area_geojson is not null and tb_base_data.base_name like '%${baseName}%'
and tb_base_data.base_district in (${baseDistrict});
    </select>
    <!--// 按片区模糊查询-->
    <select id="selectGeoByRegion" resultMap="geo">
select DISTINCT tb_area_geojson.area_geojson from public.tb_base_data
left join tb_area_cultural on tb_base_data.base_id=tb_area_cultural.culatural_id
left join tb_area_geojson on tb_area_geojson.area_name=tb_area_cultural.culatural_area
where tb_area_geojson.area_geojson is not null and tb_area_geojson.area_name like '%${baseGeo}%';
    </select>
</mapper>