<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaancultural1.demo.mapper.TableCulturalMapper">

    <resultMap id="Base" type="com.xiaancultural1.demo.pojo.tableBase">
        <result column="base_district" property="baseDistrict"/>
        <result column="base_district_id" property="baseDistrictId"/>
        <result column="base_id" property="baseId"/>
        <result column="base_name" property="baseName"/>
        <result column="base_region" property="baseRegion"/>
        <result column="base_area" property="baseArea"/>
        <result column="base_date" property="baseDate"/>
        <result column="base_planeform" property="basePlaneform"/>
        <result column="base_classification" property="baseClassification"/>
        <result column="base_basis" property="baseBasis"/>
        <result column="base_unit" property="baseUnit"/>
        <result column="base_remarks" property="baseRemarks"/>
    </resultMap>

    <resultMap id="BaseMap" type="com.xiaancultural1.demo.pojo.tableBase">
        <result column="base_longitude" property="baseLongitude"/>
        <result column="base_latitude" property="baseLatitude"/>
        <result column="base_point" property="baseLatandlon"/>
        <result column="base_name" property="baseName"/>
        <result column="base_area" property="baseArea"/>
        <result column="base_classification" property="baseClassification"/>
        <result column="base_picture" property="basePicture"/>
    </resultMap>
    <!--//查询出文地的基本信息：区域、类别、名称、位置、面积-->
    <select id="selectAllTable" resultMap="Base">
                select * from public."tb_base_data"
    </select>
    <!--根据区域和类别进行查询-->
    <select id="selectTableWithRegionAndClassification" resultMap="Base">
        select * from public."tb_base_data" where base_district in(${baseDistrict}) and base_classification in(${baseClassification})
    </select>
    <!--根据区域进行查询-->
    <select id="selectTableByRegion" resultMap="Base">
        select * from public."tb_base_data" where base_district in(${baseDistrict})
    </select>
    <!--根据类别进行查询-->
    <select id="selectTableByClassification" resultMap="Base">
        select * from public."tb_base_data" where base_classification in(${baseClassification})
    </select>

    <!--区域/类别/模糊查询文地信息-->
    <select id="selectTableFuzzySearch" resultMap="Base">
        select base_district,base_district_id,base_id,base_name,base_region,base_area,base_date,base_planeform,base_classification,
            base_basis,base_unit,base_remarks
        from  public."tb_base_data" where base_name like CONCAT('%',${fuzzyName},'%')
        and base_district =${baseDistrict} and base_classification = ${baseClassification}
 </select>
    <!--全部状况模糊查询文地信息-->
    <select id="selectTableFuzzySearchAll" resultMap="Base">
        select base_district,base_district_id,base_id,base_name,base_region,base_area,base_date,base_planeform,base_classification,
            base_basis,base_unit,base_remarks
        from  public."tb_base_data" where base_name like CONCAT('%',${fuzzyName},'%')
     </select>

    <!--根据区域进行模糊查询-->
    <select id="selectTableFuzzySearchRegion" resultMap="Base">
        select base_district,base_district_id,base_id,base_name,base_region,base_area,base_date,base_planeform,base_classification,
            base_basis,base_unit,base_remarks from public."tb_base_data" where base_name like CONCAT('%',${fuzzyName},'%') and base_district=${baseDistrict}
    </select>

    <!--根据类别进行模糊查询-->
    <select id="selectTableFuzzySearchClassification" resultMap="Base">
        select base_district,base_district_id,base_id,base_name,base_region,base_area,base_date,base_planeform,base_classification,
            base_basis,base_unit,base_remarks from public."tb_base_data" where base_name like CONCAT('%',${fuzzyName},'%') and base_classification=${baseClassification}
    </select>


    <select id="selectTableByName" resultMap="BaseMap">
        select * from public."tb_base_data"
        where base_name = baseName
    </select>

</mapper>
