<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xiaancultural1.demo.mapper.VisualCulturalMapper">
    <resultMap id="VisualBase" type="com.xiaancultural1.demo.pojo.visualBase">
        <result column="base_name" property="baseName"/>
        <result column="base_area"  property="baseArea"/>
        <result column="base_point"  property="basePoint"/>
        <result column="base_district" property="baseDistrict"/>
        <result column="base_classification" property="baseClassification"/>
    </resultMap>
    <!--//查询出文地的基本信息：区域、类别、名称、位置、面积-->
    <select id = "selectAllInfo" resultMap="VisualBase">
        select base_name,base_area,base_point,base_district,base_classification from public."tb_base_data";
    </select>
</mapper>