<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="../../libs/jquery.js"></script>
    <script type="text/javascript" src="../../libs/sea.js" id="seajsnode"></script>
    <script type="text/javascript" src="../../libs/seajs-text.js"></script>
    <script type="text/javascript" src="../../libs/seajs-css.js"></script>
    <script type="text/javascript" src="../../libs/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../libs/ol.js"></script>
    <script type="text/javascript">seajs.use('../../js/abroad')</script>
    <link rel="stylesheet" href="../../libs/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/reset.css" />
    <link rel="stylesheet" href="../../libs/css/ol.css" />
    <link rel="stylesheet" href="../../css/main.css" />
    <link rel="stylesheet" href="../../css/analysis.css" />

    <title>可视化分析</title>
    <style>

    </style>
</head>
<body>

<div id="nav-tpl"></div>
<div id="square">
<div class="btn-large" id="but-group" data-toggle="buttons">
    <label class="btn btn-primary active" id="accessiblityJump">
        <input type="radio" name="options" id="option1" autocomplete="off" >可达性
    </label>
    <label class="btn btn-primary" id="propotionalityJump">
        <input type="radio" name="options" id="option2" autocomplete="off"> 均衡性
    </label>
    <label class="btn btn-primary" id="aggregationJump">
        <input type="radio" name="options" id="option3" autocomplete="off"> 聚集性
    </label>
    <label class="btn btn-primary" id="landscapeAndWater">
        <input type="radio" name="options" id="option4" autocomplete="off"> 山水关联性
    </label>
</div>

<!--标签页-->
    <div id="label_page">

        <!-- Nav tabs -->
        <ul id="test" class="nav nav-tabs"  role="tablist" >
            <li role="presentation" class="active"><a href="index.html">居住可达性</a></li>
            <li role="presentation"><a href="traffic.html" >交通可达性</a></li>
            <li role="presentation" id="self"><a href="customize.html">自定义可达性</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home"><label id="aaa01" >可达性分布最高的五大文地</label>
                <div class="list-group" id="aaa02">
                    <button type="button" class="list-group-item">文地1</button>
                    <button type="button" class="list-group-item">文地2</button>
                    <button type="button" class="list-group-item">文地3</button>
                    <button type="button" class="list-group-item">文地4</button>
                    <button type="button" class="list-group-item">文地5</button>
                </div>
                <label id="aaa03" >文字解读</label>
                <div class="well well-lg">...</div>
            </div>

            <div role="tabpanel" class="tab-pane" id="profile">
                <label class="btn btn-primary" id="landscapeAndWater02">
                    <input type="radio" name="options" id="option5" autocomplete="off"> 车站/机场
                </label>
                <label class="btn btn-primary" id="landscapeAndWater03">
                    <input type="radio" name="options" id="option6" autocomplete="off"> 热门酒店
                </label>
                <label id="bbb01" >可达性分布最高的五大文地</label>
                <div class="list-group" id="bbb02">
                    <button type="button" class="list-group-item">文地1</button>
                    <button type="button" class="list-group-item">文地2</button>
                    <button type="button" class="list-group-item">文地3</button>
                    <button type="button" class="list-group-item">文地4</button>
                    <button type="button" class="list-group-item">文地5</button>
                </div>
                <label id="bbb03" >文字解读</label>
                <div class="well well-lg">...</div>
            </div>


            <div role="tabpanel" class="tab-pane" id="messages">
                <div>
                <label id="ccc01" >出发地：</label>
                <label id="ccc02" >目的地：</label>
                <div class="btn-large" id="but-group02" data-toggle="buttons">

                    <label class="btn btn-primary" id="landscapeAndWater04">
                        <input type="radio" name="options" id="option8" autocomplete="off"> 搜索
                    </label>
                </div>

                <div class="row" id="ddd01">
                    <div class="col-lg-6" id="search01">
                        <div class="input-group">
                  <!--<span class="input-group-btn">-->
                  <!--</span>-->
                            <input type="text" class="form-control" id="form-contro01" placeholder="Search for...">
                        </div>
                    </div>
                </div>
                <div class="row" id="ddd02">
                    <div class="col-lg-6">
                        <div class="input-group" id="search02">
                  <!--<span class="input-group-btn">-->
                  <!--</span>-->
                            <input type="text" class="form-control" id="form-contro02" placeholder="Search for...">
                        </div>
                    </div>
                </div>
                </div>



                <label id="ccc03" >目的选项</label>

                <div id="ccc04">
                <label class="btn btn-primary" id="landscapeAndWater05">
                    <input type="radio" name="options" id="option9" autocomplete="off"> 30公里内
                </label>
                <label class="btn btn-primary" id="landscapeAndWater06">
                    <input type="radio" name="options" id="option10" autocomplete="off"> 50公里内
                </label>
                <label class="btn btn-primary" id="landscapeAndWater07">
                    <input type="radio" name="options" id="option11" autocomplete="off"> 不限
                </label>
                </div>

            </div>
        </div>

    </div>

</div>

<script language="JavaScript">

var accessiblityJump = document.getElementById("accessiblityJump");
accessiblityJump.onclick = function () {
    window.location.href='index.html';
};

var propotionalityJump = document.getElementById("propotionalityJump");
propotionalityJump.onclick = function () {
    window.location.href='proportionality.html';
};

var aggregationJump = document.getElementById("aggregationJump");
aggregationJump.onclick = function () {
    window.location.href='aggregation.html';
};

var landscapeAndWater = document.getElementById("landscapeAndWater");
landscapeAndWater.onclick = function () {
    window.location.href='landscapeAndWater.html';
};

</script>
</body>
</html>
