<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="../../libs/jquery.js"></script>
    <script type="text/javascript" src="../../libs/sea.js" id="seajsnode"></script>
    <script type="text/javascript" src="../../libs/seajs-text.js"></script>
    <script type="text/javascript" src="../../libs/seajs-css.js"></script>
    <script type="text/javascript" src="../../libs/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../js/traffic.js"></script>

    <script type="text/javascript" src="../../libs/echarts.js"></script>
    <link rel="stylesheet" href="../../libs/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/reset.css" />
    <link rel="stylesheet" href="../../libs/css/ol.css" />
    <link rel="stylesheet" href="../../css/main.css" />
    <link rel="stylesheet" href="../../css/analysis.css" />
    <title>交通可达性</title>
</head>
<body>
        <!--地图设置宽和高-->
        <style>
            #map_container{
                float: left;
            }
            #wrapper{
                /*width: 630px;*/
                /*height: 440px;*/
                float:left;
            }
            #wrapper2{
                /*width: 630px;*/
                /*height: 440px;*/
                float: left;
                margin-left: 20px;
            }
            #wrapper3{
                float: left;
                margin-top: 20px;
            }
            #wrapper4{
                float: left;
                margin-top: 20px;
                margin-left: 20px;
            }
            .linear{
                width: 500px;
                height: 30px;
                border-radius: 50px;
                background-image: linear-gradient(to right, #50a3ba 20%, #9DB578 20%,
                #9DB578 40%, #eac736 40%,
                #eac736 60%, #E28B40 60%,
                #E28B40 80%,#d94e5d 80%);
            }


        </style>

        <!--导航-->
        <div id="nav-tpl">
        </div>
        <!--新建一个地图容器-->
        <div id="map_container">
            <div style="position: relative" id="wrapper">
                <div style="position: absolute;z-index: 2;font-size: 20px;font-weight: 800;">钟楼商圈文地可达性分布热力图</div>
            </div>

            <div id="wrapper2">
                <div style="position: absolute;z-index: 2;font-size: 20px;font-weight: 800;
                           margin-left: 15px;">小寨商圈文地可达性分布热力图</div>
            </div>

            <div id="wrapper3">
                <div style="position: absolute;z-index: 2;font-size: 20px;font-weight: 800;
                            margin-top: 10px">大雁塔商圈文地可达性分布热力图</div>
            </div>

            <div id="wrapper4">
                <div style="position: absolute;z-index: 2;font-size: 20px;font-weight: 800;
                margin-left: 15px;margin-top: 10px;">龙首原商圈文地可达性分布热力图</div>
            </div>


        </div>
        <!--右边的矩形框-->
      <div id="square">
    <div class="btn-large" id="but-group" data-toggle="buttons">
        <label class="btn btn-primary active" id="accessiblityJump">
            <input type="radio" name="options" id="option1" autocomplete="off"  checked > 可达性
        </label>
        <label class="btn btn-primary" id="propotionalityJump">
            <input type="radio" name="options" id="option2" autocomplete="off"> 均衡性
        </label>
        <label class="btn btn-primary" id="aggregationJump">
            <input type="radio" name="options" id="option3" autocomplete="off"> 聚集性
        </label>
        <label class="btn btn-primary" id="landscapeAndWater">
            <input type="radio" name="options" id="option4" autocomplete="off"> 山水关联性
        </label>
    </div>
    <!--标签页-->
    <div id="label_page">

        <!-- Nav tabs -->
        <ul id="test" class="nav nav-tabs"  role="tablist" >
            <li role="presentation"><a href="index.html">居住可达性</a></li>
            <li role="presentation" class="active"><a href="traffic.html" >交通可达性</a></li>
            <li role="presentation" id="self"><a href="customize.html">自定义可达性</a></li>
        </ul>

        <div role="tabpanel" class="tab-pane" id="profile">

            <!--车站、机场按钮-->
            <div>
                <button id="drawing" style="margin-left:50px" type="button">点击查看可达性热力分布</button>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#station" aria-controls="station" role="tab" data-toggle="tab" >钟楼</a></li>
                    <li role="presentation"><a href="#sourth" aria-controls="airport" role="tab" data-toggle="tab" >小寨</a></li>
                    <li role="presentation"><a href="#north" aria-controls="airport" role="tab" data-toggle="tab">大雁塔</a></li>
                    <li role="presentation"><a href="#airport" aria-controls="airport" role="tab" data-toggle="tab" >龙首原</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <!--点击西安站显示的内容-->
                    <div role="tabpanel" class="tab-pane fade in active" id="station">
                        <!--具体内容-->
                            <label class="bbb01" >钟楼商圈可达性分布最高的五大文地</label>
                            <div class="list-group" id="bbb02">
                                <button type="button" class="list-group-item">索菲特人民大剧院</button>
                                <button type="button" class="list-group-item">陕西科技馆</button>
                                <button type="button" class="list-group-item">明秦王府城墙遗址（西段）</button>
                                <button type="button" class="list-group-item">明秦王府城墙遗址（东段）</button>
                                <button type="button" class="list-group-item">西安市青少年宫</button>
                            </div>
                            <label id="bbb03" >结果解读</label>
                            <div class="well well-lg">
                                <center>
                                <div class="linear"></div>

                                </center>
                                <div style="padding-left: 15px">
                                    <span class='one common' style="font-size: 20px">0 </span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                    <span class='two common'style="font-size: 20px"> 30</span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                    <span class='three common'style="font-size: 20px"> 60</span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                    <span class='four common'style="font-size: 20px"> 90 </span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                    <span class='five common'style="font-size: 20px"> 120</span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                    <span class='six common'style="font-size: 20px">160</span>&nbsp&nbsp
                                </div>

                                <center>
                                    <label style="font-size: 20px">可达性分布:颜色越深代表,可达性分布越高</label>
                                </center>

                            </div>
                    </div>
                    <!--点击西安南站显示的内容-->
                    <div role="tabpanel" class="tab-pane" id="sourth">
                        <!--具体内容-->
                            <label class="bbb01" >小寨商圈可达性分布最高的五大文地</label>
                            <div class="list-group" id="bbb05">
                                <button type="button" class="list-group-item">西安宫廷艺术馆</button>
                                <button type="button" class="list-group-item">慈恩戏场</button>
                                <button type="button" class="list-group-item">叁和美术馆</button>
                                <button type="button" class="list-group-item">长安大学地质博物馆</button>
                                <button type="button" class="list-group-item">陕西历史博物馆</button>
                            </div>
                            <label id="bbb06" >结果解读</label>
                        <div class="well well-lg">
                            <center>
                                <div class="linear"></div>

                            </center>
                            <div style="padding-left: 15px">
                                <span class='one common' style="font-size: 20px">0 </span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <span class='two common'style="font-size: 20px"> 30</span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <span class='three common'style="font-size: 20px"> 60</span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <span class='four common'style="font-size: 20px"> 90 </span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <span class='five common'style="font-size: 20px"> 120</span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <span class='six common'style="font-size: 20px">160</span>&nbsp&nbsp
                            </div>

                            <center>
                                <label style="font-size: 20px">可达性分布:颜色越深代表,可达性分布越高</label>
                            </center>

                        </div>
                    </div>
                    <!--点击西安北站显示的内容-->
                    <div role="tabpanel" class="tab-pane" id="north">
                        <!--具体内容-->
                        <label class="bbb01" >大雁塔商圈可达性分布最高的五大文地</label>
                        <div class="list-group" id="bbb08">
                            <button type="button" class="list-group-item">西安电影制片厂</button>
                            <button type="button" class="list-group-item">大唐芙蓉园</button>
                            <button type="button" class="list-group-item">西安宫廷艺术馆</button>
                            <button type="button" class="list-group-item">慈恩戏场</button>
                            <button type="button" class="list-group-item">叁和美术馆</button>
                        </div>
                        <label id="bbb09" >结果解读</label>
                        <div class="well well-lg">
                            <center>
                                <div class="linear"></div>

                            </center>
                            <div style="padding-left: 15px">
                                <span class='one common' style="font-size: 20px">0 </span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <span class='two common'style="font-size: 20px"> 30</span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <span class='three common'style="font-size: 20px"> 60</span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <span class='four common'style="font-size: 20px"> 90 </span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <span class='five common'style="font-size: 20px"> 120</span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <span class='six common'style="font-size: 20px">160</span>&nbsp&nbsp
                            </div>

                            <center>
                                <label style="font-size: 20px">可达性分布:颜色越深代表,可达性分布越高</label>
                            </center>

                        </div>
                    </div>
                    <!--点击机场显示的内容-->
                    <div role="tabpanel" class="tab-pane" id="airport">
                        <!--具体内容-->
                        <label class="bbb01">龙首原商圈可达性分布最高的五大文地</label>
                        <div class="list-group" id="bbb11">
                            <button type="button" class="list-group-item">麟德殿</button>
                            <button type="button" class="list-group-item">还周殿</button>
                            <button type="button" class="list-group-item">大福殿遗址</button>
                            <button type="button" class="list-group-item">含冰殿</button>
                            <button type="button" class="list-group-item">九仙门</button>
                        </div>
                        <label id="bbb12" >结果解读</label>
                        <div class="well well-lg">
                            <center>
                                <div class="linear"></div>

                            </center>
                            <div style="padding-left: 15px">
                                <span class='one common' style="font-size: 20px">0 </span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <span class='two common'style="font-size: 20px"> 30</span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <span class='three common'style="font-size: 20px"> 60</span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <span class='four common'style="font-size: 20px"> 90 </span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <span class='five common'style="font-size: 20px"> 120</span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <span class='six common'style="font-size: 20px">160</span>&nbsp&nbsp
                            </div>

                            <center>
                                <label style="font-size: 20px">可达性分布:颜色越深代表,可达性分布越高</label>
                            </center>

                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>

    </div>


</body>
<script language="JavaScript">

    var accessiblityJump = document.getElementById("accessiblityJump");
    accessiblityJump.onclick = function () {
        window.location.href='index.html';
    };

    var propotionalityJump = document.getElementById("propotionalityJump");
    propotionalityJump.onclick = function () {
        window.location.href='proportionality.html';
    };

    var aggregationJump = document.getElementById("aggregationJump");
    aggregationJump.onclick = function () {
        window.location.href='aggregation.html';
    };

    var landscapeAndWater = document.getElementById("landscapeAndWater");
    landscapeAndWater.onclick = function () {
        window.location.href='landscapeAndWater.html';
    };

</script>
<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.8&key=b6501787ccc03b523cbf986f1872bde5"></script>
<script type="text/javascript">
    seajs.use('../../js/traffic.js')
</script>
<script type="text/javascript">seajs.use('../../js/abroad')</script>
</html>