<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="../../libs/jquery.js"></script>
    <script type="text/javascript" src="../../libs/sea.js" id="seajsnode"></script>
    <script type="text/javascript" src="../../libs/seajs-text.js"></script>
    <script type="text/javascript" src="../../libs/seajs-css.js"></script>
    <script type="text/javascript" src="../../libs/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../js/traffic.js"></script>

    <script type="text/javascript" src="../../libs/echarts.js"></script>
    <link rel="stylesheet" href="../../libs/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/reset.css" />
    <link rel="stylesheet" href="../../libs/css/ol.css" />
    <link rel="stylesheet" href="../../css/main.css" />
    <link rel="stylesheet" href="../../css/analysis.css" />
    <title>交通可达性</title>
</head>
<body>
        <!--地图设置宽和高-->
        <style>
            #wrapper{
                width: 1295px;
                height: 890px;
                float:left;
            }
            /*西安站 西安南站 机场*/
            /*.btn-group{*/
                /*padding-left: 150px;*/
                /*padding-top: 20px;*/
            /*}*/

        </style>

        <!--导航-->
        <div id="nav-tpl">
        </div>
        <!--新建一个地图容器-->
      <div id="wrapper"></div>

      <div id="square">
    <div class="btn-large" id="but-group" data-toggle="buttons">
        <label class="btn btn-primary active" id="accessiblityJump">
            <input type="radio" name="options" id="option1" autocomplete="off"  checked > 可达性
        </label>
        <label class="btn btn-primary" id="propotionalityJump">
            <input type="radio" name="options" id="option2" autocomplete="off"> 均衡性
        </label>
        <label class="btn btn-primary" id="aggregationJump">
            <input type="radio" name="options" id="option3" autocomplete="off"> 聚集性
        </label>
        <label class="btn btn-primary" id="landscapeAndWater">
            <input type="radio" name="options" id="option4" autocomplete="off"> 山水关联性
        </label>
    </div>
    <!--标签页-->
    <div id="label_page">

        <!-- Nav tabs -->
        <ul id="test" class="nav nav-tabs"  role="tablist" >
            <li role="presentation"><a href="index.html">居住可达性</a></li>
            <li role="presentation" class="active"><a href="traffic.html" >交通可达性</a></li>
            <li role="presentation" id="self"><a href="customize.html">自定义可达性</a></li>
        </ul>

        <div role="tabpanel" class="tab-pane" id="profile">

            <!--车站、机场按钮-->
            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#station" aria-controls="station" role="tab" data-toggle="tab">西安站</a></li>
                    <li role="presentation"><a href="#sourth" aria-controls="airport" role="tab" data-toggle="tab">西安南站</a></li>
                    <li role="presentation"><a href="#north" aria-controls="airport" role="tab" data-toggle="tab">西安北站</a></li>
                    <li role="presentation"><a href="#airport" aria-controls="airport" role="tab" data-toggle="tab">咸阳机场</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <!--点击西安站显示的内容-->
                    <div role="tabpanel" class="tab-pane fade in active" id="station">
                        <!--具体内容-->
                            <label class="bbb01" >西安站可达性分布最高的五大文地</label>
                            <div class="list-group" id="bbb02">
                                <button type="button" class="list-group-item">文地1</button>
                                <button type="button" class="list-group-item">文地2</button>
                                <button type="button" class="list-group-item">文地3</button>
                                <button type="button" class="list-group-item">文地4</button>
                                <button type="button" class="list-group-item">文地5</button>
                            </div>
                            <label id="bbb03" >文字解读</label>
                            <div class="well well-lg">...</div>
                    </div>
                    <!--点击西安南站显示的内容-->
                    <div role="tabpanel" class="tab-pane" id="sourth">
                        <!--具体内容-->
                            <label class="bbb01" >西安南站可达性分布最高的五大文地</label>
                            <div class="list-group" id="bbb05">
                                <button type="button" class="list-group-item">文地1</button>
                                <button type="button" class="list-group-item">文地2</button>
                                <button type="button" class="list-group-item">文地3</button>
                                <button type="button" class="list-group-item">文地4</button>
                                <button type="button" class="list-group-item">文地5</button>
                            </div>
                            <label id="bbb06" >文字解读</label>
                            <div class="well well-lg">...</div>
                    </div>
                    <!--点击西安北站显示的内容-->
                    <div role="tabpanel" class="tab-pane" id="north">
                        <!--具体内容-->
                        <label class="bbb01" >西安北站可达性分布最高的五大文地</label>
                        <div class="list-group" id="bbb08">
                            <button type="button" class="list-group-item">文地1</button>
                            <button type="button" class="list-group-item">文地2</button>
                            <button type="button" class="list-group-item">文地3</button>
                            <button type="button" class="list-group-item">文地4</button>
                            <button type="button" class="list-group-item">文地5</button>
                        </div>
                        <label id="bbb09" >文字解读</label>
                        <div class="well well-lg">...</div>
                    </div>
                    <!--点击机场显示的内容-->
                    <div role="tabpanel" class="tab-pane" id="airport">
                        <!--具体内容-->
                        <label class="bbb01">机场可达性分布最高的五大文地</label>
                        <div class="list-group" id="bbb11">
                            <button type="button" class="list-group-item">文地1</button>
                            <button type="button" class="list-group-item">文地2</button>
                            <button type="button" class="list-group-item">文地3</button>
                            <button type="button" class="list-group-item">文地4</button>
                            <button type="button" class="list-group-item">文地5</button>
                        </div>
                        <label id="bbb12" >文字解读</label>
                        <div class="well well-lg">...</div>
                    </div>
                </div>

            </div>


        </div>
    </div>

    </div>


</body>
<script language="JavaScript">

    var accessiblityJump = document.getElementById("accessiblityJump");
    accessiblityJump.onclick = function () {
        window.location.href='index.html';
    };

    var propotionalityJump = document.getElementById("propotionalityJump");
    propotionalityJump.onclick = function () {
        window.location.href='proportionality.html';
    };

    var aggregationJump = document.getElementById("aggregationJump");
    aggregationJump.onclick = function () {
        window.location.href='aggregation.html';
    };

    var landscapeAndWater = document.getElementById("landscapeAndWater");
    landscapeAndWater.onclick = function () {
        window.location.href='landscapeAndWater.html';
    };

</script>
<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.8&key=b6501787ccc03b523cbf986f1872bde5"></script>
<script type="text/javascript">
    seajs.use('../../js/traffic.js')
</script>
<script type="text/javascript">seajs.use('../../js/abroad')</script>
</html>